
<script type = "text/javascript">
  // from textBoxes.html
  function sayHi(){
  var txtName = document.getElementById("txtName");
  
  var name = txtName.value;
  window.location.href = "https://ijams.me/spanish/Pista" + name + ".mp3";
  } // end sayHi
 </script>


 <h1>Welcome!</h1>

 <form action = "">
  <fieldset>
  <label>Enter the audio number (e.g. 01, 16, 24): </label>
  <input type = "text"
    id = "txtName" />
  <input type = "button"
    value = "go to audio!"
    onclick = "sayHi()"/>
    </fieldset>
 </form>
