/* Layout */

body {
	font-family: Cooper Hewitt;
	display: flex;
	flex-flow: row;
	font-kerning: normal;
	font-variant-numeric: oldstyle-nums;
}

body > header {
	text-align: center;
}

body > header h1 {
	width: 1.5em;
	font-size: 10em;
	margin: 0 auto;
	font-family: Cooper Hewitt Heavy;
}

body > header p {
	color: #595959;
}

nav {
	/* font-family: monospace; */
}

nav a {
	text-decoration: none;
	padding: 2px 4px 2px 4px;
}

#intro {
	/*font-family: monospace;*/
}

#main {
	flex: auto;
	min-height: 100vh;
	max-width: 820px;
	overflow: hidden;

	display: flex;
	flex-flow: column;
}

#main > nav, #main > main, #main > footer {
	padding: 15px;
}

#main > nav {
	text-align: center;
}

#main > main {
	flex: 1;
	margin-right: 25px;
}

#main > footer {
	padding-top: 50px;
}

@media (max-width: 640px) {
	body {
		flex-direction: column;
	}

	body > header h1 {
		width: auto;
		font-size: 7em;
	}

	#main {
		display: block;
		min-height: 0;
	}

	#main > main {
		margin-right: 0;
	}
}

hr {
	border: none;
	border-top: 1px solid gray;
	max-width: 25px;
	margin: 35px auto;
}

.muted {
	color: gray;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: black;
		color: #dfdfdf;
	}

	article img:not([src$=".jpg"]):not([src$=".jpeg"]) {
		/* prevent transparent images from showing the black background */
		background-color: white;
		border: 5px solid white;
		box-sizing: border-box;
	}
}

/* Homepage */

#intro {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#intro h1 {
	font-size: 10em;
	margin: 0;
	font-family: Cooper Hewitt Bold;
}

#intro p {
	/* color: gray; */
	/* replace to make contrast levels more accessible */
	color: #595959;
	margin-bottom: 5em;
}

@media (max-width: 640px) {
	#intro h1 {
		font-size: 7em;
	}
}

/* Typography */

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter_italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/charter_bold_italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Supra A';
    src: url('/fonts/century_supra_a_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Supra A';
    src: url('/fonts/century_supra_a_bold_italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Supra A';
    src: url('/fonts/century_supra_a_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Supra A';
    src: url('/fonts/century_supra_a_italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-Semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-SemiboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Cooper Hewitt Bold';
    src: url('/fonts/CooperHewitt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt BoldItalic';
    src: url('/fonts/CooperHewitt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt Book';
    src: url('/fonts/CooperHewitt-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt BookItalic';
    src: url('/fonts/CooperHewitt-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt Heavy';
    src: url('/fonts/CooperHewitt-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt HeavyItalic';
    src: url('/fonts/CooperHewitt-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt Light';
    src: url('/fonts/CooperHewitt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt LightItalic';
    src: url('/fonts/CooperHewitt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt Medium';
    src: url('/fonts/CooperHewitt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt MediumItalic';
    src: url('/fonts/CooperHewitt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt Semibold';
    src: url('/fonts/CooperHewitt-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt SemiboldItalic';
    src: url('/fonts/CooperHewitt-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt Thin';
    src: url('/fonts/CooperHewitt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt ThinItalic';
    src: url('/fonts/CooperHewitt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

article {
	max-width: 60ch;
	hyphens: auto;
}

article > header {
	margin-bottom: 2em;
	font-family: monospace;
	font-size: 1.3rem;
}


article > header time {
	color: #595959;
	white-space: nowrap;
	font-size: 1.1rem;
}

article p, article li, article h1, article h2, article h3, article h4 {
	font-family: Century Supra A, Charter, serif, sans-serif;
	line-height: 1.4;
}

article p {
	font-size: 1.2rem;
}

article h1 {
	font-size: 1.4rem;
}

article h2 {
	font-size: 1.35rem;
}

article h3 {
	font-size: 1.2rem;
}

article h4 {
	font-size: 1.1rem;
}



article img, article video {
	max-width: 100%;
}

article .footnotes {
	font-size: 0.75em;
}

pre {
	font-family: monospace;
	background-color: #272822;
	color: #f8f8f2;
	padding: 15px;
	overflow: auto;

	tab-size: 2;
	-moz-tab-size: 2;
}

p code, li code {
	color: #930d72;
}

a, a:visited {
	color: inherit;
}

a:hover {
  background: #fbf3f3;
  transition-property: background;
  transition-duration: 0.2s;
  border-radius: 8px;
}


kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.8em;
	line-height: normal;
	line-height: 10px;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 black;
	background-color: rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
	kbd {
		border-color: white;
		background-color: rgba(255, 255, 255, 0.15);
		box-shadow: inset 0 -1px 0 white;
	}
}

iframe[src*="youtube-nocookie.com"] {
	border: none;
	width: 100%;
	height: 460px;
}

@media (max-width: 640px) {
	iframe[src*="youtube-nocookie.com"] {
		height: 260px;
	}
}

/* Article list */

.article-list article > header {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 0;
	hyphens: none;
}

.article-list article h3 {
	display: inline-block;
	margin: 0.5em;
	font-family: Century Supra A, Charter, monospace;
	font-size: 1.2rem;
}

.article-list article small {
	font-weight: normal;
	color: gray;
}

.article-list a {
	text-decoration: none;
}

.article-list a:hover {
  background: #fbf3f3;
  transition-property: background;
  transition-duration: 0.2s;
  border-radius: 8px;
}

.alt-links {
	float: right;
	color: gray;
	margin: 30px 0;
}
