	</main>

	<footer>
		© 2019–{{ now.Format "2006" }} Nate Ijams
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>
		<div style="color: transparent">
    This is a honeypot:
    <a href="mailto:djfirecoolsite@ijams.me" style="color: transparent">
      djfirecoolsite@ijams.me
    </a>
    Please do not use it unless you are a spambot.
  </div>
	</footer>
</div>

{{ partial "foot.html" . }}
