<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ partial "title.txt" . }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="canonical" href="{{ .Permalink }}">

		{{ range .AlternativeOutputFormats -}}
			<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}" />
		{{ end -}}

		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	</head>
	<body>
