<nav>
	{{- if not .IsHome }}<a href="{{ .Site.BaseURL }}">home</a> &middot;{{ end }}
	<a href="{{ .Site.BaseURL }}posts">posts</a> &middot;
	<a rel="me" href="https://git.sr.ht/~exprez135">sourcehut</a> &middot;
	<a href="{{ .Site.BaseURL }}.well-known/openpgpkey/hu/jh4yxzuazuge3omy73g1xdk693asf3ii" title="PGP key BEED841104580204B38041EF236ACF9085017338" download="ijams.pgp">pgp</a> &middot;
	<!-- <a href="{{ .Site.BaseURL }}consultancy/">consulting</a> &middot; -->
	<a href="{{ .Site.BaseURL }}contact/">contact</a> &middot;
	<a href="https://wiki.ijams.me">wiki</a> &middot;
	<a href="{{ .Site.BaseURL }}about/">about</a>
</nav>
